/* 
========================
    CONTRIBUTE FORM
========================
*/
.Contribute {
    margin-bottom: 50px;
}

#contribute {
    font-size: 4em;
    margin-top: 50px;
    text-align: center;
}

#contribute-subtitle {
    color: var(--color-extra-light-blue);
    font-size: 1.25em;
}

.form-section {
    display: inline-block
}

.text-icons {
    text-align: left;
}

@media (min-width: 768px) {
    .text-icons {
        text-align: right;
    } 
}