/* 
========================
    QUESTIONS/ANSWERS
========================
*/
.test {
    padding-top: 100px;
    background: url("../../img/chalkboard.jpg") bottom center / cover no-repeat;
    height: 102vh;
    margin-top: -70px;
}
.dark-overlay {
    background: rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.test-timer {
    text-align: center;
    color: var(--color-green);
}
.test-category {
    color: var(--color-primary);
    margin-top: 5px;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}
.question {
    height: 5vh;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}
.answer-text {
    text-align: left;
    color: var(--color-primary);
}
.answer {
    height: 30vh;
    width: 100%;
}
.arrow-size {
    font-size: 1.5rem;
    border-color: transparent;
}
.arrow-size:hover {
    border-color: transparent;
}

/* 
========================
    PROGRESS BAR
========================
*/
.progress {
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 20px;
}
.progress-value {
    text-align: left;
    color: white;
}