/* 
========================
      NAVBAR
========================
*/
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.nav-link {
    color: #5cb85c !important;
}

.nav-link:hover {
    border-bottom: 1px solid #5cb85c;
    transition: border 0.5s ease 0s;
    cursor: pointer;
}

.nav-item {
    font-weight: 1000;
}

@media(max-width: 768px) {
    .navbar {
        background: var(--color-dark-grey);
    }
}