/* 
========================
      NAVBAR
========================
*/
a:hover, a:visited, a:link, a:active {
    text-decoration: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.nav-link {
    color: var(--color-primary) !important;
    font-family: Monaco;
    font-size: 1.1rem;
    margin-right: 5px;
    text-decoration: none;
}

.nav-link:hover {
    border-bottom: 1px solid var(--color-primary);
    transition: border 0.5s ease 0s;
    cursor: pointer;
}

.nav-item {
    font-weight: 1000;
}

#start-button {
    margin-right: 1rem;
    font-size: 1.25rem;
    border-color: var(--color-primary);
}

#start-button:hover {
    background-color: var(--color-primary);
    color: white !important;
    transition: 0.3s;
}

@media(max-width: 768px) {
    .navbar {
        background: #003366;
    }
}