/* 
========================
      NAVBAR
========================
*/
.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.nav-link {
    color: black !important;
    font-family: Monaco;
    font-size: 1.1rem;
    margin-right: 5px;
}

.nav-link:hover {
    border-bottom: 1px solid black;
    transition: border 0.5s ease 0s;
    cursor: pointer;
}

.nav-item {
    font-weight: 1000;
}

@media(max-width: 768px) {
    .navbar {
        background: #A9A9A9;
    }
}