/* 
========================
   CUSTOMIZATION MODAL
========================
*/
.modal-header {
    background-color: var(--color-extra-dark-blue); 
    color: white;
}

.modal-body {
    background: linear-gradient( var(--color-light-blue) 10%, var(--color-extra-dark-blue));
}

.customize-section {
    text-align: center;
    color: white;
}

.categories-header {
    text-align: center;
    margin-top: -20px;
}

.categories-subtitle {
    color: black;
}

.length-header {
    margin-top: 20px;
    color: white;
    text-align: center;
}

#regForm {
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

.toggle-radio{
    position: relative;
    background: rgba(255,255,255,.1);
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    border-radius: 50px;
    position: relative;
    height: 30px;
    width: 318px;
}

.toggle-radio > * {
    float: left;
}

.toggle-radio input[type=radio]{
    display: none;
}

.toggle-radio label{
    color: rgba(255,255,255,.9);
    z-index: 0;
    display: block;
    width: 100px;
    height: 20px;
    margin: 3px 3px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    text-align: center;
}

.toggle-option-slider{
    width: 100px;
    height: 23px;
    position: absolute;
    top: 3px;
    border-radius: 50px;
    transition: all .4s ease;
}

#first-toggle:checked ~ .toggle-option-slider{
    background: rgba(255,255,255,.3);
    left: 3px;
}

#second-toggle:checked ~ .toggle-option-slider{
    background: rgba(255,255,255,.3);
    left: 109px;
}

#third-toggle:checked ~ .toggle-option-slider{
    background: rgba(255,255,255,.3);
    left: 215px;
}

#customize-button {
    font-size: 1.25rem;
}

/* 
========================
    CATEGORIES
========================
*/

.container-drag {
    text-align: center;
}

.list1 {
    display: inline-flex;
    flex-direction: column;
    width: 150px;
    height: 250px;
    background-color: var(--color-extra-light-blue);
    border-style: solid;
    border-width: 2px;
    color: #45597E;
}

.list2 {
    display: inline-flex;
    flex-direction: column;
    width: 150px;
    height: 250px;
    background-color: var(--color-extra-light-blue);
    border-style: solid;
    border-width: 2px;
    color: #45597E;
}

.task-header {
    display: inline-block;
    background-color: var(--color-light-blue);
    color: white;
    font-family: sans-serif;
    width:100%;
    height: 30px;
    padding-top: 5px;
    font-weight: bold;
    border-bottom-style: #45597E solid;
    border-width: 2px;
}

.draggable {
    width: 120px;
    margin: 5px auto;
    padding-top: 5px;
    border-style: solid;
    border-width: 2px;
    color: #45597E;
    font-family: sans-serif;
    font-weight: bold;
}

.draggable:hover {
    background-color: white !important;
}