/* 
========================
    FOOTER ICONS
========================
*/
.media_icons {
    font-size: 3em;
    color: var(--color-pink);
    margin-top: 10px;
    margin-right: 25px;
    transition: transform 0.5s ease 0s;
}
.hb_logo {
    max-width: 55px;
    margin-top: 10px;
    margin-right: 25px;
    transition: transform 0.5s ease 0s;
    margin-bottom: 15px;
 }
.media_icons:hover, .hb_logo:hover {  
    transform: scale3d(1.5, 1.5, 1);
}