/* 
========================
    MAIN IMAGE
========================
*/
.Showcase {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
    margin-left:-50px;
    height: 102vh;
    background: url("../../img/desktop.jpeg") bottom center / cover no-repeat;
    position: relative;
}

#header {
    z-index: 2;
}

#overlay {
    background: rgba(0,0,0,0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#header-name {
    color: var(--color-primary);
    font-size: 7.5em;
}

#subtitle {
    font-family: Menlo;
    color: black;
    background-color: lightgrey;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

#test-button {
    background-color: var(--color-primary);
    color: white;
}

@media(max-width: 768px) {
    #showcase {
        min-height: 300px;
    }
}