.answer {
    height: 30vh;
    width: 100%;
}

.answer-text {
    margin-top: 2.5rem;
    text-align: left;
    color: var(--color-primary);
    font-weight: bolder;
}

.answer-submit {
    margin-top: 10px;
    text-align: left !important;
    float: left;
}

.answer-arrow {
    float: right;
    border: none !important;
    font-size: 1.25rem !important;
}

#answer-back {
    margin-top: -25px;
    margin-bottom: 25px;
}

.arrow-size {
    font-size: 1.5rem;
    border-color: transparent;
}

.arrow-size:hover {
    border-color: transparent;
}