/* 
========================
    ANSWER TEXTAREA
========================
*/
.answer {
    height: 30vh;
    width: 100%;
}

.answer-text {
    margin-top: 2.5rem;
    text-align: left;
    color: var(--color-primary);
    font-weight: bolder;
}

/* 
========================
    ANSWER BUTTONS
========================
*/
#answer-back {
    margin-top: -25px;
    margin-bottom: 25px;
}

#answer-submit {
    margin-top: 10px;
    text-align: left !important;
    float: left;
}

.answer-arrow {
    float: right;
    border: none !important;
    font-size: 1.5rem !important;
}

.arrow-size:hover {
    border-color: transparent;
}